# Introduction to Python Syntax

Basic data types in Python:
- int
- str
- float

In [6]:
type(14)

int

In [8]:
type("hi")

str

In [3]:
type("hi")

str

Collection types in Python
- list
- tuple
- dictionary

# Python List
   List doesn't have to contain only one data type

In [11]:
[]

[]

In [12]:
[14, 14.7]

[14, 14.7]

In [13]:
[14, 14.7, "hi"]

[14, 14.7, 'hi']

In [14]:
type([])

list

Assign list to variable, identiy, and memory

In [17]:
a = [1, 2, 3]

In [22]:
print(a)

[-1, 2, 3]

In [23]:
b = a
a

[-1, 2, 3]

Basic Indexing

In [21]:
a[0] = -1
a

[-1, 2, 3]

In [24]:
b

[-1, 2, 3]

In [25]:
id(a)
id(b)

4544855816

In [26]:
id(a)

4544855816

In [29]:
id(b)

4544855816

Appending to a list

In [31]:
guests = ['Alice', 'Bob','Charlie']
guests

['Alice', 'Bob', 'Charlie']

In [33]:
guests.append('Daniel')
guests

['Alice', 'Bob', 'Charlie', 'Daniel', 'Daniel']

Combining lists

In [35]:
guests1 = ["Alice", "Bob"]
guests2 = ["Charlie", "Daniel"]

guests1, guests2

(['Alice', 'Bob'], ['Charlie', 'Daniel'])

In [36]:
guests = guests1 + guests2
guests

['Alice', 'Bob', 'Charlie', 'Daniel']

# Python tuple